<section class='btn-section'>
	<button data-action='create'>Create Room</button>
	<button data-action='join'>Join Room</button>
</section>

<section class='start-form'>

	<form action='/rooms' method='post'>
		<div data-action='join'>
			<label for='join_input'>Enter the room code</label>
			<input id='join_input' name='id' type='text' autocomplete='off' maxlength='6' />
		</div>

		<div data-action='join create'>
			<label for='nickname_input'>Nickname</label>
			<input
				id='nickname_input'
				name='nickname'
				type='text'
				autocomplete='off'
				maxlength='20'
			/>
		</div>

		<button type='submit' aria-label='enter room'></button>
	</form>
</section>