<section class='btn-section'>
	<button data-action='create'>Create Room</button>
	<button data-action='join'>Join Room</button>
</section>

<section class='start-form'>
	<form action='/rooms/create' method='post'>
		<label for='create_nickname_input'>Nickname</label>
		<input
			id='create_nickname_input'
			name='nickname'
			type='text'
			autocomplete='off'
			maxlength='20'
		/>

		<button type='submit'>Create</button>
	</form>

	<form action='/rooms/join' method='post'>
		<label for='join_input'>Enter the room code</label>
		<input id='join_input' name='id' type='text' autocomplete='off' maxlength='6' />

		<label for='join_nickname_input'>Nickname</label>
		<input
			id='join_nickname_input'
			name='nickname'
			type='text'
			autocomplete='off'
			maxlength='20'
		/>

		<button type='submit'>Join</button>
	</form>
</section>