.homeview section.btn-section {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 2rem;
	margin-top: 2em;
}

.homeview section.btn-section a {
	border: solid 2px var(--accent-color);
	padding: 1rem;
	width: 12rem;
	text-align: center;
	border-radius: 5px;
}

/* ----------------------------- */
/* -------- popup style -------- */
/* ----------------------------- */
.homeview section[class*="popup"] {
	display: none;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-color-secondary);
	border: solid 2px var(--accent-color);
	width: 95%;
	max-width: 500px;
	height: 95%;
	max-height: 550px;
	padding: 2em;
	z-index: 10;
	border-radius: 10px;
}

.homeview section[class*="popup"].active {
	display: block;
}

/* bg for clicking outside popup to close it */
.homeview section[class*="popup"] ~ a.popup-bg {
	display: none;
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 9;
	cursor: initial;
}

.homeview section[class*="popup"].active ~ a.popup-bg {
	display: block;
}

/* ----------------------------- */
/* ----- create room popup ----- */
/* ----------------------------- */
.homeview section.create-popup form {
	position: relative;
	height: 100%;
}

.homeview section.create-popup button[type="submit"] {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border: solid 2px var(--accent-color);
	padding: .7rem;
	font-size: 1.2rem;
	width: 12rem;
	background-color: transparent;
	color: var(--text-color);
	border-radius: 4px;
}