.lobbyview {
	--chat-width: min(22rem, 96vw);
	--sidebar-inset: min(1rem, 2vw);
	width: calc(100vw - var(--chat-width) - var(--sidebar-inset) * 2);
	min-height: 100vh;
}

/* ----------------------------- */
/* --------- chat aside -------- */
/* ----------------------------- */
.lobbyview aside {
	--upper-panel-height: 15%;
	--form-height: 3.5rem;
	--form-padding: 0.5rem;
	--is-typing-height: 1.4rem;
	--panel-padding: 1rem;
	position: fixed;
	inset: var(--sidebar-inset) var(--sidebar-inset) var(--sidebar-inset) auto;
	width: var(--chat-width);
	display: grid;
	/* als ik  upper-panle-height gebruik voor de eerste row doet hij raar dus domme calc zo */
	grid-template-rows: 1fr calc(100% - var(--upper-panel-height));
	gap: 1rem;
}

.lobbyview aside > section {
	height: 100%;
	background-color: var(--bg-color-panel);
	padding: var(--panel-padding);
	border-radius: 1rem;
	position: relative;
}

/* header section met room pin etc */
.lobbyview aside section.info > p {
	font-size: 1rem;
	text-align: center;
}

.lobbyview aside section.info h1 {
	font-size: 1.4rem;
	text-align: center;
}

.lobbyview aside section.info div.user-count-container {
	position: absolute;
	display: flex;
	align-items: center;
	height: 1.3rem;
	gap: 0.1rem;
	top: var(--panel-padding);
	right: var(--panel-padding);
}

.lobbyview aside section.info div.user-count-container p {
	font-size: 1.2rem;
}

.lobbyview aside section.info div.user-count-container svg {
	height: 100%;
}

.lobbyview aside section.chat {
	--heading-height: 2.3rem;
	right: 0;
	transition: right 0.5s cubic-bezier(0.5, -0.56, 0.46, 1.34);
}

.lobbyview.chat-hidden aside section.chat {
	right: calc(-100% - var(--sidebar-inset) - var(--panel-padding));
}

.lobbyview aside section.chat header {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px var(--bg-color);
	height: var(--heading-height);
}

/* minimize / maximize button */
.lobbyview aside section.chat header button {
	border: solid 2px var(--bg-color);
	color: var(--text-color);
	border-radius: 2rem;
	width: calc(var(--heading-height) - 0.3rem);
	aspect-ratio: 1;
	position: fixed;
	top: calc(var(--sidebar-inset) + var(--upper-panel-height) + var(--form-padding));
	right: calc(var(--sidebar-inset) + var(--panel-padding));
	background-color: var(--bg-color-panel);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease-in-out;
}

.lobbyview aside section.chat header button svg {
	width: 70%;
	height: 70%;
	fill: var(--bg-color);
	transition: transform 0.5s cubic-bezier(0.5, -0.56, 0.46, 1.34);
}

.lobbyview.chat-hidden aside section.chat header button svg {
	transform: rotate(-180deg);
}

/* list with messages */
.lobbyview aside section.chat > ul {
	display: flex;
	flex-direction: column;
	height: calc(
		100% - var(--heading-height) - var(--form-height) - var(--is-typing-height)
	);
	overflow-y: auto;
	width: 100%;
	overflow-x: hidden;
}

.lobbyview aside section.chat > ul li {
	overflow-wrap: break-word;
	margin-top: 0.5rem;
	position: relative;
}

.lobbyview aside section.chat > ul li.same-sender {
	margin-top: 0.2rem;
}

.lobbyview aside section.chat > ul li strong {
	display: block;
}

.lobbyview aside section.chat > ul li span {
	max-width: 100%;
}

.lobbyview aside section.chat > ul li.system {
	text-align: center;
}

.lobbyview aside section.chat > ul li.system span {
	background-color: var(--system-message-bg-color);
	color: var(--white);
}

.lobbyview aside section.chat > ul li span {
	background-color: var(--message-bg-color);
	color: var(--text-color);
	display: inline-block;
	border-radius: 0.5rem;
	padding: 0.5rem 0.8rem;
}

.lobbyview aside section.chat > ul li.self {
	text-align: right;
}

.lobbyview aside section.chat > ul li.self span {
	background-color: var(--message-bg-color-self);
	color: var(--white);
}

.lobbyview aside section.chat > ul li a {
	display: block;
	outline: none;
}

.lobbyview aside section.chat > ul li a:hover img,
.lobbyview aside section.chat > ul li a:focus-visible img {
	outline-width: 3px;
	outline-offset: -3px;
}

.lobbyview aside section.chat > ul li a img {
	max-width: 100%;
	max-height: 30rem;
	border-radius: 0.5rem;
	outline: solid 0px var(--bg-color);
	transition: all 0.15s ease-in-out;
}

/* "user is typing" section.chat */
.lobbyview aside section.chat small {
	display: block;
	height: var(--is-typing-height);
	margin-top: 0.5rem;
}

.lobbyview aside section.chat small.hidden {
	display: none;
}

/* message form */
.lobbyview aside form {
	--send-button-width: 3rem;
	position: relative;
	height: var(--form-height);
	width: 100%;
}

.lobbyview aside form input {
	width: 100%;
	height: 100%;
	border: solid 2px var(--bg-color);
	background-color: var(--bg-color-panel);
	color: var(--text-color);
	border-radius: 0.5rem;
	padding: 0 calc(var(--send-button-width) * 2) 0 0.5rem;
	font-size: 1.2em;
}

/* div with send and gif buttons */
.lobbyview aside form div {
	display: flex;
	gap: 0.2rem;
	position: absolute;
	top: var(--form-padding);
	right: var(--form-padding);
	height: calc(100% - var(--form-padding) * 2);
	width: fit-content;
}

.lobbyview aside form button {
	color: var(--bg-color);
	font-size: 1rem;
	height: 100%;
	aspect-ratio: 1;
	border-radius: 0.5rem;
	background-color: transparent;
	border: solid 2px var(--bg-color);
	font-weight: 900;
}

.lobbyview aside form button svg {
	height: 60%;
	width: 60%;
	margin-left: -2px;
	margin-bottom: -2px;
}

.lobbyview aside form button svg path {
	fill: var(--bg-color);
}

.lobbyview aside form button,
.lobbyview aside form button svg path {
	transition: all 0.2s ease-in-out;
}

.lobbyview aside form button:hover,
.lobbyview aside form button:focus-visible {
	background-color: var(--bg-color);
	color: var(--white);
}

.lobbyview aside form button:hover svg path,
.lobbyview aside form button:focus-visible svg path {
	fill: var(--white);
}

/* dialog for searching gifs */
.lobbyview aside dialog {
	--gif-search-height: 3rem;
	--gif-dialog-inset: 0.2rem;
	--gap: 0.5rem;
	position: absolute;
	background-color: var(--bg-color-panel);
	inset: auto var(--gif-dialog-inset)
		calc(
			var(--form-height) + var(--is-typing-height) +
				var(--form-padding) + var(--gif-dialog-inset) + var(--gap)
		)
		var(--gif-dialog-inset);
	height: 70%;
	width: calc(100% - var(--gif-dialog-inset) * 2);
	border-radius: 0.8rem;
	overflow: hidden;
	padding: calc(var(--panel-padding) - var(--gif-dialog-inset));
	border: solid 3px var(--bg-color);
}

.lobbyview aside dialog section {
	--input-padding-horizontal: 0.5rem;
	height: var(--gif-search-height);
	margin-bottom: var(--gap);
}

.lobbyview aside dialog section label {
	position: absolute;
	z-index: -1;
}

.lobbyview aside dialog section input {
	padding: 0.2rem var(--input-padding-horizontal);
	height: 100%;
	width: 100%;
	border: solid 2px var(--bg-color);
	border-radius: 0.4rem;
	outline: 0;
	font-size: 1.1rem;
}

.lobbyview aside dialog ul {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	height: calc(100% - var(--gif-search-height) - var(--gap));
	gap: 0.2rem;
}

@supports (grid-template-rows: masonry) {
	.lobbyview aside dialog ul {
		display: grid;
		grid-template-rows: masonry;
		grid-template-columns: 1fr 1fr;
	}
}

.lobbyview aside ul li {
	height: fit-content;
}

.lobbyview aside ul li button {
	border: none;
	background-color: transparent;
	display: flex;
	border-radius: 0.3rem;
	overflow: hidden;
}

.lobbyview aside ul li button img {
	max-width: 100%;
	outline: solid 0px var(--bg-color);
	transition: all 0.15s ease-in-out;
}

.lobbyview aside ul li button:hover img,
.lobbyview aside ul li button:focus-visible img {
	outline-width: 3px;
	outline-offset: -3px;
}


@media screen and (max-width: 768px) {
	.lobbyview {
		width: 100vw;
	}
}