.lobbyview {
	--chat-width: 22rem;
	width: calc(100vw - var(--chat-width));
}

@media screen and (max-width: 768px) {
	.lobbyview {
		width: 100vw;
	}
}

/* ----------------------------- */
/* ----------- header ---------- */
/* ----------------------------- */
.lobbyview header {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
	color: var(--white);
}

.lobbyview header p {
	font-size: 1.4rem;
}

.lobbyview header h1 {
	font-size: 2.5rem;
}

.lobbyview header h1::selection {
	color: var(--accent-color);
}

/* ----------------------------- */
/* --------- chat aside -------- */
/* ----------------------------- */
.lobbyview aside {
	--form-height: 3.5rem;
	--form-padding: 0.5rem;
	--is-typing-height: 1.4rem;
	--is-typing-bottom: 0.5rem;
	--chat-inset: 2rem;
	--chat-padding: 1rem;
	position: fixed;
	inset: var(--chat-inset) var(--chat-inset) var(--chat-inset) auto;
	border-radius: 1rem;
	padding: var(--chat-padding);
	width: var(--chat-width);
	background-color: var(--bg-color-panel);
	transition: inset 0.5s cubic-bezier(0.5, -0.56, 0.46, 1.34);
}

.lobbyview.chat-hidden aside {
	inset: var(--chat-inset) calc(-1 * var(--chat-width) - var(--chat-inset))
		var(--chat-inset) auto;
}

.lobbyview aside section {
	--heading-height: 2.3rem;
	height: calc(100% - var(--form-height) - var(--is-typing-height));
}

.lobbyview aside section div {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 2px var(--bg-color);
	height: var(--heading-height);
}

/* minimize / maximize button */
.lobbyview aside section div button {
	border: solid 2px var(--bg-color);
	color: var(--text-color);
	border-radius: 2rem;
	width: calc(var(--heading-height) - 0.3rem);
	aspect-ratio: 1;
	position: fixed;
	top: calc(var(--chat-inset) + var(--chat-padding));
	right: calc(var(--chat-inset) + var(--chat-padding));
	background-color: var(--bg-color-panel);
	display: flex;
	align-items: center;
	justify-content: center;
}

.lobbyview aside section div button svg {
	width: 70%;
	height: 70%;
	fill: var(--bg-color);
	transition: transform 0.5s cubic-bezier(0.5, -0.56, 0.46, 1.34);
}

.lobbyview.chat-hidden aside section div button svg{
	transform: rotate(-180deg);
}

.lobbyview aside section ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: calc(100% - var(--heading-height) - 1rem);
	overflow-y: auto;
	margin-top: 0.5rem;
	width: 100%;
	overflow-x: hidden;
}

.lobbyview aside section ul li {
	overflow-wrap: break-word;
}

.lobbyview aside section ul li.system strong {
	color: var(--accent-color);
}

/* "user is typing" section */
.lobbyview aside > small {
	display: block;
	height: var(--is-typing-height);
	margin-top: 0.5rem;
}

.lobbyview aside > small.hidden {
	display: none;
}

/* message form */
.lobbyview aside form {
	--send-button-width: 3rem;
	position: relative;
	height: var(--form-height);
	width: 100%;
}

.lobbyview aside form input {
	width: 100%;
	height: 100%;
	border: solid 2px var(--bg-color);
	background-color: var(--bg-color-panel);
	color: var(--text-color);
	border-radius: 0.5rem;
	padding: 0 calc(var(--send-button-width) + 1rem) 0 1rem;
	font-size: 1.2em;
}

.lobbyview aside form button {
	position: absolute;
	height: calc(100% - var(--form-padding) * 2);
	aspect-ratio: 1;
	top: var(--form-padding);
	right: var(--form-padding);
	border-radius: 0.5rem;
	background-color: transparent;
	border: solid 2px var(--bg-color);
}

.lobbyview aside form button svg {
	height: 60%;
	width: 60%;
	margin-left: -2px;
	margin-bottom: -2px;
}

.lobbyview aside form button svg path {
	fill: var(--bg-color);
}

.lobbyview aside form button,
.lobbyview aside form button svg path {
	transition: all 0.2s ease-in-out;
}

.lobbyview aside form button:hover,
.lobbyview aside form button:focus-visible {
	background-color: var(--bg-color);
}

.lobbyview aside form button:hover svg path,
.lobbyview aside form button:focus-visible svg path {
	fill: var(--white);
}
