.lobbyview {
	--chat-width: 22rem;
	width: calc(100vw - var(--chat-width));
}

/* ----------------------------- */
/* ----------- header ---------- */
/* ----------------------------- */
.lobbyview header {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}

.lobbyview header p {
	font-size: 1.4rem;
}

.lobbyview header h1 {
	font-size: 2.5rem;
}

.lobbyview header h1::selection {
	color: var(--accent-color);
}

/* ----------------------------- */
/* --------- chat aside -------- */
/* ----------------------------- */
.lobbyview aside {
	--form-height: 3.5rem;
	--form-padding: 0.5rem;
	--is-typing-height: 1.4rem;
	--is-typing-bottom: 0.5rem;
	position: fixed;
	inset: 2rem 2rem 2rem auto;
	border-radius: 1rem;
	padding: 1rem;
	width: var(--chat-width);
	background-color: var(--bg-color-secondary);
}

.lobbyview aside section {
	--heading-height: 2.3rem;
	height: calc(100% - var(--form-height) - var(--is-typing-height));
}

.lobbyview aside section h2 {
	border-bottom: solid 2px var(--accent-color);
	height: var(--heading-height);
}

.lobbyview aside section ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: calc(100% - var(--heading-height) - 1rem);
	overflow-y: auto;
	margin-top: .5rem;
	width: 100%;
	overflow-x: hidden;
}

.lobbyview aside section ul li {
	overflow-wrap: break-word;
}

.lobbyview aside section ul li.system strong {
	color: var(--accent-color);
}

/* "user is typing" section */
.lobbyview aside > small {
	display: block;
	height: var(--is-typing-height);
	margin-top: .5rem;
}

.lobbyview aside > small.hidden {
	display: none;
}


/* message form */
.lobbyview aside form {
	--send-button-width: 3rem;
	position: relative;
	height: var(--form-height);
	width: 100%;
}

.lobbyview aside form input {
	width: 100%;
	height: 100%;
	border: solid 1px var(--accent-color);
	background-color: var(--bg-color);
	color: var(--text-color);
	border-radius: .5rem;
	padding: 0 calc(var(--send-button-width) + 1rem) 0 1rem;
	font-size: 1.2em;
}

.lobbyview aside form button {
	position: absolute;
	right: 0;
	top: 0;
	height: calc(100% - var(--form-padding) * 2);
	width: var(--send-button-width);
	top: var(--form-padding);
	right: var(--form-padding);
	border: none;
	border-radius: .5rem;
	background-color: var(--accent-color);
	border: solid 1px var(--accent-color);
	border-left: none;
}

.lobbyview aside form button svg {
	stroke: #fff;
	height: 60%;
	width: 60%;
	margin-left: -4px;
	margin-bottom: -2px;
}

.lobbyview aside form button svg path {
	fill: #fff;
}
