.lobbyview main {
	height: 100%;
	width: calc(100vw - var(--chat-width) - var(--sidebar-inset) * 3);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.lobbyview main.unstarted div.board,
.lobbyview main.started section.waiting {
	display: none;
}

.lobbyview main section.waiting {
	background-color: var(--bg-color-panel);
	border-radius: 10px;
	padding: 2rem 1rem;
}

.lobbyview main .board {
	box-sizing: content-box;
	width: min(600px, 100%);
	height: min(600px, 100%);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 40px;
	justify-content: center;
	background-color: rgb(58, 129, 0);
	padding: 5%;
}

.lobbyview main .board button {
	border: none;
	background-color: rgb(165, 85, 11);
	border-radius: 50%;
	box-shadow: inset 0 10px 0 7px rgb(53, 21, 6), inset 0 20px 20px 15px rgba(0, 0, 0, 0.3),
		0 0 5px rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;
	transition: transform 0.1s ease-in-out;
}

.lobbyview main.joined .board button:active {
	transform: scale(0.95);
}

.lobbyview main .board button::after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: url(/img/mole.png);
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: bottom center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	transition: top 0.15s ease-in-out;
}

.lobbyview main .board button.mole::after {
	top: 0;
	transition: top 0.3s ease-in-out;
}

.lobbyview main .board button:not(.whackable):not(.inactive)::after {
	background-image: url(/img/mole-whacked.png);
}


/* game over dialog */
.lobbyview dialog.results {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--bg-color-panel);
	border-radius: 1rem;
	height: min(30rem, 95%);
	width: min(30rem, 95%);
	max-width: 95%;
	border: none;
	padding: 1rem;

	--heading-height: 2rem;
	--button-height: 2rem;
}

.lobbyview dialog.results h2 {
	text-align: center;
}

.lobbyview dialog.results ol {
	list-style: decimal inside;
	height: calc(100% - var(--heading-height) - var(--button-height) - 2rem);
	margin-top: 1rem;
	overflow-y: auto;
}

.lobbyview dialog.results ol li span {
	font-weight: bold;
}