*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;	
}

button {
	cursor: pointer;
	font-family: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
}

:root {
	--bg-color: #5A6BEF;
	--bg-color-secondary: #2b2b2b;

	--text-color: #fff;
	--text-color-light: #f1f1f1;
	--text-color-reverse: #000;

	--accent-color: #ff6b81;
}
